{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>R1 Lodge</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>

<header>
    <h1>R1 Lodge</h1>
    <nav>
        <a href="/">Home</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>

        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'manager_dashboard' %}">Dashboard</a>
            <a href="{% url 'admin:logout' %}">Logout</a>
        {% else %}
            <a href="/admin/login/?next=/manager-dashboard/">Manager Login</a>
        {% endif %}
</nav>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <p>© 2026 R1 Lodge. All rights reserved.</p>
    <p> Ilorin, Kwara State</p>
</footer>

</body>
</html>