{% extends 'base.html' %}

{% block content %}
<div class="success-box">
    <h2>Booking Submitted Successfully!</h2>
    <p>Your booking request has been received.</p>
    <p><strong>Room:</strong> {{ booking.room.name }}</p>
    <p><strong>Name:</strong> {{ booking.guest_name }}</p>
    <p><strong>Email:</strong> {{ booking.guest_email }}</p>
    <p><strong>Nights:</strong> {{ days }}</p>
    <p><strong>Estimated Cost:</strong> ₦{{ booking.total_price }}</p>
    <p>The manager will contact you shortly to confirm your reservation.</p>

    <a href="{% url 'contact' %}">
        <button>Contact Manager</button>
    </a>
</div>
{% endblock %}